@media (max-width: calc(83.3333334% - 6rem)) and (min-width: 1280px) {
    footer {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}